<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>DS Sudoku Solver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DhilipSiva Sudoku Solver">
    <meta name="author" content="DhilipSiva">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <a href="../static/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="../static/app.js"></script>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        .input-small {
            max-width: 30px;
        }
    </style>
    <link href="../static/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 <input type="text" class="input-small">ments -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <a href="https://github.com/dhilipsiva/dssudokusolver" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="row">

                    <div class="span3">
                        <table class = "table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small" id="00"></td>
                                    <td><input type="text" class="input-small" id="01"></td>
                                    <td><input type="text" class="input-small" id="02"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="10"></td>
                                    <td><input type="text" class="input-small" id="11"></td>
                                    <td><input type="text" class="input-small" id="12"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="20"></td>
                                    <td><input type="text" class="input-small" id="21"></td>
                                    <td><input type="text" class="input-small" id="22"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div class="span3">
                        <table class = "table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small" id="03"></td>
                                    <td><input type="text" class="input-small" id="04"></td>
                                    <td><input type="text" class="input-small" id="05"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="13"></td>
                                    <td><input type="text" class="input-small" id="14"></td>
                                    <td><input type="text" class="input-small" id="15"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="23"></td>
                                    <td><input type="text" class="input-small" id="24"></td>
                                    <td><input type="text" class="input-small" id="25"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span3">
                        <table class = "table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small" id="06"></td>
                                    <td><input type="text" class="input-small" id="07"></td>
                                    <td><input type="text" class="input-small" id="08"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="16"></td>
                                    <td><input type="text" class="input-small" id="17"></td>
                                    <td><input type="text" class="input-small" id="18"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="26"></td>
                                    <td><input type="text" class="input-small" id="27"></td>
                                    <td><input type="text" class="input-small" id="28"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <hr/>
                
                <div class="row">

                    <div class="span3">
                        <table class = "table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small" id="30"></td>
                                    <td><input type="text" class="input-small" id="31"></td>
                                    <td><input type="text" class="input-small" id="32"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="40"></td>
                                    <td><input type="text" class="input-small" id="41"></td>
                                    <td><input type="text" class="input-small" id="42"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="50"></td>
                                    <td><input type="text" class="input-small" id="51"></td>
                                    <td><input type="text" class="input-small" id="52"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div class="span3">
                        <table class = "table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small" id="33"></td>
                                    <td><input type="text" class="input-small" id="34"></td>
                                    <td><input type="text" class="input-small" id="35"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="43"></td>
                                    <td><input type="text" class="input-small" id="44"></td>
                                    <td><input type="text" class="input-small" id="45"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="53"></td>
                                    <td><input type="text" class="input-small" id="54"></td>
                                    <td><input type="text" class="input-small" id="55"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span3">
                        <table class = "table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small" id="36"></td>
                                    <td><input type="text" class="input-small" id="37"></td>
                                    <td><input type="text" class="input-small" id="38"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="46"></td>
                                    <td><input type="text" class="input-small" id="47"></td>
                                    <td><input type="text" class="input-small" id="48"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="56"></td>
                                    <td><input type="text" class="input-small" id="57"></td>
                                    <td><input type="text" class="input-small" id="58"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <hr/>
                
                <div class="row">

                    <div class="span3">
                        <table class = "table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small" id="60"></td>
                                    <td><input type="text" class="input-small" id="61"></td>
                                    <td><input type="text" class="input-small" id="62"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="70"></td>
                                    <td><input type="text" class="input-small" id="71"></td>
                                    <td><input type="text" class="input-small" id="72"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="80"></td>
                                    <td><input type="text" class="input-small" id="81"></td>
                                    <td><input type="text" class="input-small" id="82"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div class="span3">
                        <table class = "table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small" id="63"></td>
                                    <td><input type="text" class="input-small" id="64"></td>
                                    <td><input type="text" class="input-small" id="65"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="73"></td>
                                    <td><input type="text" class="input-small" id="74"></td>
                                    <td><input type="text" class="input-small" id="75"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="83"></td>
                                    <td><input type="text" class="input-small" id="84"></td>
                                    <td><input type="text" class="input-small" id="85"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span3">
                        <table class = "table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small" id="66"></td>
                                    <td><input type="text" class="input-small" id="67"></td>
                                    <td><input type="text" class="input-small" id="68"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="76"></td>
                                    <td><input type="text" class="input-small" id="77"></td>
                                    <td><input type="text" class="input-small" id="78"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small" id="86"></td>
                                    <td><input type="text" class="input-small" id="87"></td>
                                    <td><input type="text" class="input-small" id="88"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
		<div class = "row">
			<div class = "span3 offset2">
				<button class="btn btn-primary btn-large" type="submit" id = "solvebutton">
					Solve ...
				</button>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			$("#solvebutton").click(function(){
			
				//get the sudoku in an array
				var sudoku= new Array();
				for(i=0;i<9;i++){ 
					sudoku[i] = new Array();
					for(j=0;j<9;j++){
						sudoku[i][j] = document.getElementById(i.toString()+j.toString()).value;
					}
				}
				
				solvedSudoku = DSSolve(sudoku);
				//add the solution to the puzzle
				for(i=0;i<9;i++){ 
					for(j=0;j<9;j++){
						document.getElementById(i.toString()+j.toString()).value = solvedSudoku[i][j];
					}
				}
			});
		});
	</script>
</body>
</html>