<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>DS Sudoku Solver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DhilipSiva Sudoku Solver">
    <meta name="author" content="DhilipSiva">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        .input-small {
            max-width: 30px;
        }
    </style>
    <link href="../static/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 <input type="text" class="input-small">ments -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <a href="https://github.com/dhilipsiva/dssudokusolver" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="row">

                    <div class="span3">
                        <table class = "table-bordered table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div class="span3">
                        <table class = "table-bordered table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span3">
                        <table class = "table-bordered table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <hr/>
                
                <div class="row">

                    <div class="span3">
                        <table class = "table-bordered table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div class="span3">
                        <table class = "table-bordered table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span3">
                        <table class = "table-bordered table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <hr/>
                
                <div class="row">

                    <div class="span3">
                        <table class = "table-bordered table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div class="span3">
                        <table class = "table-bordered table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span3">
                        <table class = "table-bordered table-dsalt">
                            <tbody>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                    <td><input type="text" class="input-small"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>